name: CI/CD - Deploy to Railway

on:
  push:
    branches:
      - main
      - develop


jobs:
  ci:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npx jest --ci --silent

  deploy:
    name: Deploy to Railway
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Use production environment
        run: railway environment use production
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      - name: Deploy to Railway
        run: railway up --service 170250e1-0ce3-499b-9483-1055fec78926 --ci
        env:
            RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      # - name: Deploy to Railway
      #   run: railway up --service 170250e1-0ce3-499b-9483-1055fec78926 --ci
      #   env:
      #     RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
   



